@import '~bootstrap';
@import 'variables/cv-variables';
@import 'headers/cv-header';
@import 'contents/cv-content';

@mixin xxl {
  @media screen and (max-width: $screen-xxl) {
    @content;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  &::before {
    box-sizing: border-box;
  }

  &::after {
    box-sizing: border-box;
  }
}

@include xxl {
* {
    font-size: 0.8rem;

    h1,h2,h3,h4,h5,h6 {
    font-size: 1rem;
    }

    p#opportunities {
    font-size: 0.9rem;
    max-width: 500px;
    }
  }

  body {
  .content-background-container {
    .container {
      .grid-container {
      grid-template-columns: 1fr;
        }
      }
    }
  }
}